.content {
    width: 98vw;
    min-height: 50vh;
    display: flex;
}

.roadmap {
    /* height: */
    padding-top: 4vw;
    width: 25vw;
    background-color: rgba(217, 217, 217, 0.1);
}

.content-space {
    width: 75vw;
    padding-bottom: 3vw;

}

.course-content {
    padding-top: 6vw;
    margin: auto;
    width: 60%;
    min-height: 100vh;
    /* background-color: rgba(217, 217, 217, 0.1); */
}

.topic-name {
    font-size: 1.5vw;
    font-family: "Inter-SemiBold";
}
.topics {
    padding-top: 2vw;
    padding-left: 1vw;
}
.subtopics {
    padding-left: 1vw;
}
.subtopics li {
    font-size: 1.25vw;
    list-style: circle;
}
.subtopic {
    text-decoration: none;
    font-size: 1.25vw;
    color: black;
    font-family: "Inter-Medium";
}
.subtopic:hover {  
    background-color: rgba(217, 217, 217, 0.5);
    cursor: pointer;
}

.topic-material {
    
    padding-left: 2vw;
}
.maintopic-name {
    font-family: "Inter-SemiBold";
    font-size: 2.3vw;
}
.subtopic-material {
    padding-left: 2vw;
}
.subtopic-name {
    font-family: "Inter-Light";
    font-size: 2.3vw;
}
.material-header {
    font-size: 1.8vw;
    font-family: "Inter-Bold";
    padding-top: 1.5vw;
}
.material-text {
    font-size: 1.3vw;
    font-family: "Inter-Regular";
    padding-top: 0.5vw;
}
ol, ul {
    font-family: "Inter-Regular";
}
.material-list {
    font-size: 1.3vw;
}
.boldStart {
    font-size: 1.3vw;
    font-family: "Inter-Black";

}

.material-code {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 1.2vw;
    padding: 1vw;
    font-family: "Consolas";
}
.left1 {
    padding-left: 2vw;
}

.Code, .Variables, .Ifelse, .Loops, .Static, .Dynamic, .STL, .Functions {
    display: none;
}