.content {
    width: 98vw;
    /* min-height: 100vh; */
    display: flex;
}
.content-space {
    margin: auto;
    width: 80vw;
    padding-bottom: 3vw;
}

.course-content {
    padding-top: 6vw;
    margin: auto;
    width: 90%;
    min-height: 60vh;
    /* background-color: rgba(217, 217, 217, 0.1); */
}
.section {
    width: 100%;
    padding-top: 2vw;
    display: flex;
}
.section-course {
    width: 27%;
    /* height: 100%; */
    min-height: 5vw;
    padding: 25px;
    margin: 0 auto;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 25px;

}
.section-name {
    font-size: 2vw;
    font-family: "Inter-Bold";
}
.course-name a {
    text-decoration: none;
    color: black;
    font-family: "Inter-Regular";
    font-size: 1.5vw;
}
.course-name a:hover {
    text-decoration: underline;
}
.course-info {
    padding-top: 1vw;
    font-family: "Inter-Light";
}