.content {
    width: 80vw;
    min-height: 50vh;
    height: 100%;
    display: flex;
    margin: auto;
}

.content-space {
    width: 80vw;
}

.course-content {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    padding-top: 3vw;
    
    padding-bottom: 3vw;
}

.content-block {
    display: flex;
    width: 100%;
    padding-top: 5vw;
}
.text-area {
    width: 40%;
    margin: auto;
}
.image-area {
    height: 50%;
    width: 40%;
    margin: auto;
}

.header-text {
    font-size: 2.5vw;
    font-family: "Inter-Black";
}
.text-area .text {
    font-family: "Inter-Regular";
    font-size: 1.2vw;
}
.image-area img {
    width: 100%;
    object-fit: cover;
    transition: width 1s;
}
.image-area img:hover {
    width: 105%;
}