html, body {
    margin: 0;
}

.screen {
    max-width: 1440px;
}

.header-content {
    width: 80vw;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
}

.courses-link {
    font-size: 1.67vw;
}

.logo {
    text-align: center;
    font-size: 2.5vw;
}

.contacts {
    text-align: right;
    font-size: 1.67vw;
}

.header-link {
    vertical-align: middle;
    width: 33%;
    margin: auto;
}
.header-link a {
    text-decoration: none;
    vertical-align: middle;
    color: black;
    font-family: "Inter-Regular";
}
.boldLogo {
    font-family: fantasy;
}
.normalLogo {
    font-family: tahoma;
}

.header {
    width: 100vw;
    height: 5vw;
    margin: 0;
    position: fixed;
    background-color: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(10px);
    z-index: 3;
}

.text_content {
    width: 40%;
    height: 90%;
}

.header_text {
    font-size: 100vw / 30px;
}

.text {
    font-size: 100vw / 80px;
}

.main_content {
    width: 80%;
}

.content-block-1 {
    background-color: #D0D0D0;
    width: 100%;
    height: 80vh;
}
.text-area-1 {
    background-color: #C0C0C0;
    width: 450px;
    height: 500px;
    margin-left: 60px;
    margin-top: 220px;
    position: absolute;
}

.content-block-2 {
    background-color: #D0D0D0;
    width: 100%;
    height: 60vh;
    margin-top: 3vh;
}
.header-1 {
    font-family: arial black;
    font-size: 30px;
}
.text-1 {
    font-size: 17px;
    font-family: arial;
}

.text-area-2 {
    background-color: #C0C0C0;
    width: 450px;
    height: 500px;
    position: absolute;
    margin-top: 30px;
    margin-left: 570px;
}
.header-2 {
    font-family: arial black;
    font-size: 30px;
}
.text-2 {
    font-size: 17px;
    font-family: arial;
}

.content-block-3 {
    background-color: #D0D0D0;
    width: 100%;
    height: 67vh;
    margin-top: 3vh;
}
.text-area-3 {
    background-color: #C0C0C0;
    width: 450px;
    height: 500px;
    margin-left: 60px;
    margin-top: 30px;
    position: absolute;
}
.header-3 {
    font-family: arial black;
    font-size: 30px;
}
.text-3 {
    font-size: 17px;
    font-family: arial;
}

.footer {
    background-color: #B0B0B0;
    width: 100%;
    height: 150px;

}