html, body {
    margin: 0;
}

.screen {
    max-width: 1440px;
}

.header-content {
    width: 80vw;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
}

.courses-link {
    font-size: 1.67vw;
}

.logo {
    text-align: center;
    font-size: 2.5vw;
}

.contacts {
    text-align: right;
    font-size: 1.67vw;
}

.header-link {
    vertical-align: middle;
    width: 33%;
    margin: auto;
}
.header-link a {
    text-decoration: none;
    vertical-align: middle;
    color: black;
    font-family: "Inter-Regular";
}
.boldLogo {
    font-family: "Inter-Bold";
}

.header {
    width: 100vw;
    height: 5vw;
    margin: 0;
    position: fixed;
    background-color: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(10px);
}

.content_block {
    width: 100%;
}

.text_content {
    width: 40%;
    height: 90%;
}

.header_text {
    font-size: 100vw / 30px;
}

.text {
    font-size: 100vw / 80vw;
}

.main_content {
    width: 80%;
}